{% extends 'base.html.twig' %}

{% block title %}Edit SchoolTour{% endblock %}

{% block body %}
    <h1>Edit SchoolTour</h1>
{% if not form.vars.valid %}
    <div class="alert alert-danger">
        <ul class="mb-0">
            {% for error in form.vars.errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
            {% for child in form %}
                {% for error in child.vars.errors %}
                    <li><strong>{{ child.vars.name }}</strong>: {{ error.message }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

    {{ include('school_tour/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_school_tour_index') }}">back to list</a>

    {{ include('school_tour/_delete_form.html.twig') }}
{% endblock %}
