{% extends 'base.html.twig' %}

{% block title %}TourSchedule index{% endblock %}

{% block body %}
    <h1>TourSchedule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Year</th>
                <th>Weekdays</th>
                <th>OnlyWeekdays</th>
                <th>OnlyWeekend</th>
                <th>OnlyDuringHolidays</th>
                <th>NotDuringHolidays</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>DateFrom</th>
                <th>DateTo</th>
                <th>SpecialDates</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tour_schedule in tour_schedules %}
            <tr>
                <td>{{ tour_schedule.id }}</td>
                <td>{{ tour_schedule.year }}</td>
                <td>{{ tour_schedule.weekdays ? tour_schedule.weekdays|json_encode : '' }}</td>
                <td>{{ tour_schedule.onlyWeekdays ? 'Yes' : 'No' }}</td>
                <td>{{ tour_schedule.onlyWeekend ? 'Yes' : 'No' }}</td>
                <td>{{ tour_schedule.onlyDuringHolidays ? 'Yes' : 'No' }}</td>
                <td>{{ tour_schedule.notDuringHolidays ? 'Yes' : 'No' }}</td>
                <td>{{ tour_schedule.startTime ? tour_schedule.startTime|date('H:i:s') : '' }}</td>
                <td>{{ tour_schedule.endTime ? tour_schedule.endTime|date('H:i:s') : '' }}</td>
                <td>{{ tour_schedule.dateFrom ? tour_schedule.dateFrom|date('Y-m-d') : '' }}</td>
                <td>{{ tour_schedule.dateTo ? tour_schedule.dateTo|date('Y-m-d') : '' }}</td>
                <td>{{ tour_schedule.specialDates ? tour_schedule.specialDates|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_tour_schedule_show', {'id': tour_schedule.id}) }}">show</a>
                    <a href="{{ path('app_tour_schedule_edit', {'id': tour_schedule.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tour_schedule_new') }}">Create new</a>
{% endblock %}
