{% extends 'base.html.twig' %}

{% block title %}TourSchedule{% endblock %}

{% block body %}
    <h1>TourSchedule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tour_schedule.id }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ tour_schedule.year }}</td>
            </tr>
            <tr>
                <th>Weekdays</th>
                <td>{{ tour_schedule.weekdays ? tour_schedule.weekdays|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>OnlyWeekdays</th>
                <td>{{ tour_schedule.onlyWeekdays ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>OnlyWeekend</th>
                <td>{{ tour_schedule.onlyWeekend ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>OnlyDuringHolidays</th>
                <td>{{ tour_schedule.onlyDuringHolidays ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>NotDuringHolidays</th>
                <td>{{ tour_schedule.notDuringHolidays ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>StartTime</th>
                <td>{{ tour_schedule.startTime ? tour_schedule.startTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndTime</th>
                <td>{{ tour_schedule.endTime ? tour_schedule.endTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateFrom</th>
                <td>{{ tour_schedule.dateFrom ? tour_schedule.dateFrom|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateTo</th>
                <td>{{ tour_schedule.dateTo ? tour_schedule.dateTo|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>SpecialDates</th>
                <td>{{ tour_schedule.specialDates ? tour_schedule.specialDates|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tour_schedule_index') }}">back to list</a>

    <a href="{{ path('app_tour_schedule_edit', {'id': tour_schedule.id}) }}">edit</a>

    {{ include('tour_schedule/_delete_form.html.twig') }}
{% endblock %}
