{% extends 'base.html.twig' %}

{% block title %}DoctypeManager index{% endblock %}

{% block body %}
    <h1>DoctypeManager index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DoctypeName</th>
                <th>DoctypeType</th>
                <th>DoctypeAdd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for doctype_manager in doctype_managers %}
            <tr>
                <td>{{ doctype_manager.id }}</td>
                <td>{{ doctype_manager.doctypeName }}</td>
                <td>{{ doctype_manager.doctypeType }}</td>
                <td>{{ doctype_manager.doctypeAdd ? doctype_manager.doctypeAdd|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_doctype_manager_show', {'id': doctype_manager.id}) }}">show</a>
                    <a href="{{ path('app_doctype_manager_edit', {'id': doctype_manager.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_doctype_manager_new') }}">Create new</a>
{% endblock %}
