{% extends 'base.html.twig' %}

{% block title %}SshApiKeys{% endblock %}

{% block body %}
    <h1>SshApiKeys</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ssh_api_key.id }}</td>
            </tr>
            <tr>
                <th>Sshapikey</th>
                <td>{{ ssh_api_key.sshapikey }}</td>
            </tr>
            <tr>
                <th>SshapikeyDescription</th>
                <td>{{ ssh_api_key.sshapikeyDescription }}</td>
            </tr>
            <tr>
                <th>SshapikeyExpiration</th>
                <td>{{ ssh_api_key.sshapikeyExpiration ? ssh_api_key.sshapikeyExpiration|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>SshapikeyCreate</th>
                <td>{{ ssh_api_key.sshapikeyCreate ? ssh_api_key.sshapikeyCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>SshapikeyUpdate</th>
                <td>{{ ssh_api_key.sshapikeyUpdate ? ssh_api_key.sshapikeyUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>SshapikeyValid</th>
                <td>{{ ssh_api_key.sshapikeyValid ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ssh_api_keys_index') }}">back to list</a>

    <a href="{{ path('app_ssh_api_keys_edit', {'id': ssh_api_key.id}) }}">edit</a>

    {{ include('ssh_api_keys/_delete_form.html.twig') }}
{% endblock %}
