{% extends 'base.html.twig' %}

{% block title %}OfficialAddresses{% endblock %}

{% block body %}
    <h1>OfficialAddresses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ official_address.id }}</td>
            </tr>
            <tr>
                <th>IsValid</th>
                <td>{{ official_address.isValid ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ConfidenceScore</th>
                <td>{{ official_address.confidenceScore }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ official_address.source }}</td>
            </tr>
            <tr>
                <th>CorrectedAt</th>
                <td>{{ official_address.correctedAt ? official_address.correctedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ official_address.notes }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_official_addresses_index') }}">back to list</a>

    <a href="{{ path('app_official_addresses_edit', {'id': official_address.id}) }}">edit</a>

    {{ include('official_addresses/_delete_form.html.twig') }}
{% endblock %}
