{% extends 'base.html.twig' %}


{% block body %}
    <h1>CalendarEvent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Uid</th>
                <th>Summary</th>
                <th>Description</th>
                <th>Start</th>
                <th>End</th>
                <th>Location</th>
                <th>Status</th>
                <th>Rrule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calendar_event in calendar_events %}
            <tr>
                <td>{{ calendar_event.id }}</td>
                <td>{{ calendar_event.uid }}</td>
                <td>{{ calendar_event.summary }}</td>
                <td>{{ calendar_event.description }}</td>
                <td>{{ calendar_event.start ? calendar_event.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendar_event.end ? calendar_event.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendar_event.location }}</td>
                <td>{{ calendar_event.status }}</td>
                <td>{{ calendar_event.rrule }}</td>
                <td>
                    <a href="{{ path('app_calendar_event_show', {'id': calendar_event.id}) }}">show</a>
                    <a href="{{ path('app_calendar_event_edit', {'id': calendar_event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_calendar_event_new') }}">Create new</a>
{% endblock %}
