{% extends 'base.html.twig' %}

{% block title %}VehicleDocument{% endblock %}

{% block body %}
    <h1>VehicleDocument</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicle_document.id }}</td>
            </tr>
            <tr>
                <th>VehicleDoctype</th>
                <td>{{ vehicle_document.vehicleDoctype }}</td>
            </tr>
            <tr>
                <th>VehicleDocimage</th>
                <td>{{ vehicle_document.vehicleDocimage }}</td>
            </tr>
            <tr>
                <th>VehicleDocadd</th>
                <td>{{ vehicle_document.vehicleDocadd ? vehicle_document.vehicleDocadd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vehicle_document_index') }}">back to list</a>

    <a href="{{ path('app_vehicle_document_edit', {'id': vehicle_document.id}) }}">edit</a>

    {{ include('vehicle_document/_delete_form.html.twig') }}
{% endblock %}
