{% extends 'base.html.twig' %}

{% block title %}MessageRecipient index{% endblock %}

{% block body %}
    <h1>MessageRecipient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IsAll</th>
                <th>SomeIntegerField</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message_recipient in message_recipients %}
            <tr>
                <td>{{ message_recipient.id }}</td>
                <td>{{ message_recipient.isAll ? 'Yes' : 'No' }}</td>
                <td>{{ message_recipient.someIntegerField }}</td>
                <td>
                    <a href="{{ path('app_message_recipient_show', {'id': message_recipient.id}) }}">show</a>
                    <a href="{{ path('app_message_recipient_edit', {'id': message_recipient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_message_recipient_new') }}">Create new</a>
{% endblock %}
