{% extends 'base.html.twig' %}

{% block title %}MessageRecipient{% endblock %}

{% block body %}
    <h1>MessageRecipient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message_recipient.id }}</td>
            </tr>
            <tr>
                <th>IsAll</th>
                <td>{{ message_recipient.isAll ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>SomeIntegerField</th>
                <td>{{ message_recipient.someIntegerField }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_message_recipient_index') }}">back to list</a>

    <a href="{{ path('app_message_recipient_edit', {'id': message_recipient.id}) }}">edit</a>

    {{ include('message_recipient/_delete_form.html.twig') }}
{% endblock %}
