{% extends 'base.html.twig' %}

{% block title %}VoiceReference{% endblock %}

{% block body %}
    <h1>VoiceReference</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voice_reference.id }}</td>
            </tr>
            <tr>
                <th>RoomName</th>
                <td>{{ voice_reference.roomName }}</td>
            </tr>
            <tr>
                <th>VoiceFileID</th>
                <td>{{ voice_reference.voiceFileID }}</td>
            </tr>
            <tr>
                <th>VoiceFilepath</th>
                <td>{{ voice_reference.voiceFilepath }}</td>
            </tr>
            <tr>
                <th>VoiceFilewave</th>
                <td>{{ voice_reference.voiceFilewave }}</td>
            </tr>
            <tr>
                <th>VoiceFilemeta</th>
                <td>{{ voice_reference.voiceFilemeta }}</td>
            </tr>
            <tr>
                <th>NewVoiceFilepath</th>
                <td>{{ voice_reference.newVoiceFilepath }}</td>
            </tr>
            <tr>
                <th>NewVoiceFilewave</th>
                <td>{{ voice_reference.newVoiceFilewave }}</td>
            </tr>
            <tr>
                <th>NewVoiceFilemeta</th>
                <td>{{ voice_reference.newVoiceFilemeta }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_voice_reference_index') }}">back to list</a>

    <a href="{{ path('app_voice_reference_edit', {'id': voice_reference.id}) }}">edit</a>

    {{ include('voice_reference/_delete_form.html.twig') }}
{% endblock %}
