{% extends 'base.html.twig' %}

{% block title %}SoundReference index{% endblock %}

{% block body %}
    <h1>SoundReference index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RoomName</th>
                <th>SoundFileID</th>
                <th>SoundFilepath</th>
                <th>SoundFilewave</th>
                <th>NewSoundFilepath</th>
                <th>NewSoundFilewave</th>
                <th>SoundFilemeta</th>
                <th>NewSoundFilemeta</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sound_reference in sound_references %}
            <tr>
                <td>{{ sound_reference.id }}</td>
                <td>{{ sound_reference.roomName }}</td>
                <td>{{ sound_reference.soundFileID }}</td>
                <td>{{ sound_reference.soundFilepath }}</td>
                <td>{{ sound_reference.soundFilewave }}</td>
                <td>{{ sound_reference.newSoundFilepath }}</td>
                <td>{{ sound_reference.newSoundFilewave }}</td>
                <td>{{ sound_reference.soundFilemeta }}</td>
                <td>{{ sound_reference.newSoundFilemeta }}</td>
                <td>
                    <a href="{{ path('app_sound_reference_show', {'id': sound_reference.id}) }}">show</a>
                    <a href="{{ path('app_sound_reference_edit', {'id': sound_reference.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sound_reference_new') }}">Create new</a>
{% endblock %}
