{% extends 'base.html.twig' %}

{% block title %}CodingLanguage index{% endblock %}

{% block body %}
    <h1>CodingLanguage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Logo</th>
                <th>Year</th>
                <th>LanguageType</th>
                <th>Extension</th>
                <th>Developer</th>
                <th>Paradigm</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coding_language in coding_languages %}
            <tr>
                <td>{{ coding_language.id }}</td>
                <td>{{ coding_language.name }}</td>
                <td>{{ coding_language.logo }}</td>
                <td>{{ coding_language.year }}</td>
                <td>{{ coding_language.languageType }}</td>
                <td>{{ coding_language.extension }}</td>
                <td>{{ coding_language.developer }}</td>
                <td>{{ coding_language.paradigm }}</td>
                <td>
                    <a href="{{ path('app_coding_language_show', {'id': coding_language.id}) }}">show</a>
                    <a href="{{ path('app_coding_language_edit', {'id': coding_language.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_coding_language_new') }}">Create new</a>
{% endblock %}
