{% extends 'base.html.twig' %}

{% block title %}JarvisChatLog{% endblock %}

{% block body %}
    <h1>JarvisChatLog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jarvis_chat_log.id }}</td>
            </tr>
            <tr>
                <th>Prompt</th>
                <td>{{ jarvis_chat_log.prompt }}</td>
            </tr>
            <tr>
                <th>Response</th>
                <td>{{ jarvis_chat_log.response }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ jarvis_chat_log.createdAt ? jarvis_chat_log.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ jarvis_chat_log.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_jarvis_chat_log_index') }}">back to list</a>

    <a href="{{ path('app_jarvis_chat_log_edit', {'id': jarvis_chat_log.id}) }}">edit</a>

    {{ include('jarvis_chat_log/_delete_form.html.twig') }}
{% endblock %}
