{% extends 'base.html.twig' %}

{% block title %}VehicleInspectionInterval{% endblock %}

{% block body %}
    <h1>VehicleInspectionInterval</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicle_inspection_interval.id }}</td>
            </tr>
            <tr>
                <th>InspectionType</th>
                <td>{{ vehicle_inspection_interval.inspectionType }}</td>
            </tr>
            <tr>
                <th>IntervalMonths</th>
                <td>{{ vehicle_inspection_interval.intervalMonths }}</td>
            </tr>
            <tr>
                <th>LegalBasis</th>
                <td>{{ vehicle_inspection_interval.legalBasis }}</td>
            </tr>
            <tr>
                <th>Mandatory</th>
                <td>{{ vehicle_inspection_interval.mandatory }}</td>
            </tr>
            <tr>
                <th>DateLast</th>
                <td>{{ vehicle_inspection_interval.dateLast ? vehicle_inspection_interval.dateLast|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateNext</th>
                <td>{{ vehicle_inspection_interval.dateNext ? vehicle_inspection_interval.dateNext|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vehicle_inspection_interval_index') }}">back to list</a>

    <a href="{{ path('app_vehicle_inspection_interval_edit', {'id': vehicle_inspection_interval.id}) }}">edit</a>

    {{ include('vehicle_inspection_interval/_delete_form.html.twig') }}
{% endblock %}
