{% extends 'base.html.twig' %}


{% block body %}
    <h1>ShellCommands</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shell_command.id }}</td>
            </tr>
            <tr>
                <th>CommandShort</th>
                <td>{{ shell_command.commandShort }}</td>
            </tr>
            <tr>
                <th>CommandFull</th>
                <td>{{ shell_command.commandFull }}</td>
            </tr>
            <tr>
                <th>CommandDescription</th>
                <td>{{ shell_command.commandDescription }}</td>
            </tr>
            <tr>
                <th>CommandCategory</th>
                <td>{{ shell_command.commandCategory }}</td>
            </tr>
            <tr>
                <th>CommandCreateDate</th>
                <td>{{ shell_command.commandCreateDate ? shell_command.commandCreateDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_shell_commands_index') }}">back to list</a>

    <a href="{{ path('app_shell_commands_edit', {'id': shell_command.id}) }}">edit</a>

    {{ include('shell_commands/_delete_form.html.twig') }}
{% endblock %}
