{% extends 'base.html.twig' %}

{% block title %}RumfassWisdom index{% endblock %}

{% block body %}
    <h1>RumfassWisdom index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Active</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>CreatedBy</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rumfass_wisdom in rumfass_wisdoms %}
            <tr>
                <td>{{ rumfass_wisdom.id }}</td>
                <td>{{ rumfass_wisdom.content }}</td>
                <td>{{ rumfass_wisdom.active ? 'Yes' : 'No' }}</td>
                <td>{{ rumfass_wisdom.createdAt ? rumfass_wisdom.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rumfass_wisdom.updatedAt ? rumfass_wisdom.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rumfass_wisdom.createdBy }}</td>
                <td>
                    <a href="{{ path('app_rumfass_wisdom_show', {'id': rumfass_wisdom.id}) }}">show</a>
                    <a href="{{ path('app_rumfass_wisdom_edit', {'id': rumfass_wisdom.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rumfass_wisdom_new') }}">Create new</a>
{% endblock %}
