{% extends 'base.html.twig' %}

{% block title %}RumfassWisdom{% endblock %}

{% block body %}
    <h1>RumfassWisdom</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rumfass_wisdom.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ rumfass_wisdom.content }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ rumfass_wisdom.active ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ rumfass_wisdom.createdAt ? rumfass_wisdom.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ rumfass_wisdom.updatedAt ? rumfass_wisdom.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedBy</th>
                <td>{{ rumfass_wisdom.createdBy }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rumfass_wisdom_index') }}">back to list</a>

    <a href="{{ path('app_rumfass_wisdom_edit', {'id': rumfass_wisdom.id}) }}">edit</a>

    {{ include('rumfass_wisdom/_delete_form.html.twig') }}
{% endblock %}
