{# templates/sms_template/_form.html.twig #}
<div class="card shadow-sm mb-4">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">{{ button_label|default('Speichern') }}</h5>
    </div>
    <div class="card-body">
        {{ form_start(form) }}

        <div class="mb-3">
            {{ form_label(form.title, 'Titel', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.title) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.message, 'Nachricht', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 4}}) }}
            {{ form_errors(form.message) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.createdBy, 'Erstellt von', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.createdBy, {'attr': {'class': 'form-control', 'readonly': 'readonly','value': app.user.username}}) }}
            {{ form_errors(form.createdBy) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.createdAt, 'Erstellt am', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.createdAt, {'attr': {'class': 'form-control', 'readonly': 'readonly'}}) }}
            {{ form_errors(form.createdAt) }}
        </div>

        <div class="mt-4">
            <button class="btn btn-success">
                <i class="bi bi-save me-1"></i> {{ button_label|default('Speichern') }}
            </button>
            <a href="{{ path('app_sms_template_index') }}" class="btn btn-sm btn-primary">Zurück</a>
            
        </div>

        {{ form_end(form) }}
    </div>
</div>
