{% extends 'base.html.twig' %}

{% block title %}WorkLog index{% endblock %}

{% block body %}
    <h1>WorkLog index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ClockInAt</th>
                <th>Location</th>
                <th>Method</th>
                <th>DeviceUid</th>
                <th>Source</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for work_log in work_logs %}
            <tr>
                <td>{{ work_log.id }}</td>
                <td>{{ work_log.clockInAt ? work_log.clockInAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ work_log.location }}</td>
                <td>{{ work_log.method }}</td>
                <td>{{ work_log.deviceUid }}</td>
                <td>{{ work_log.source }}</td>
                <td>{{ work_log.createdAt ? work_log.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_work_log_show', {'id': work_log.id}) }}">show</a>
                    <a href="{{ path('app_work_log_edit', {'id': work_log.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_work_log_new') }}">Create new</a>
{% endblock %}
