{# templates/form_template.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h2>User Form</h2>
    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.password, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.userpin, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.prename, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.regDate, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.lastlogindate, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.passwordChangedAt, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.failedAttempts, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.isVerified, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.isLocked, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.isActive, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.isTwoFactorEnabled, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.twoFactorSecret, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.adminOverride, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.adminOverrideId, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.userDir, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.avatar, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.usergroups, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.roles, {'attr': {'class': 'form-check'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.permissions, {'attr': {'class': 'form-check'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.profile, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}
