{% extends 'base.html.twig' %}

{% block title %}LanguageFile{% endblock %}

{% block body %}
    <h1>LanguageFile</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ language_file.id }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ language_file.filename }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ language_file.content }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ language_file.updatedAt ? language_file.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_language_file_index') }}">back to list</a>

    <a href="{{ path('app_language_file_edit', {'id': language_file.id}) }}">edit</a>

    {{ include('language_file/_delete_form.html.twig') }}
{% endblock %}
