{% extends 'base.html.twig' %}

{% block title %}ConcessionManager index{% endblock %}

{% block body %}
    <h1>ConcessionManager index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ConcessionNumber</th>
                <th>Type</th>
                <th>Company</th>
                <th>ValidFrom</th>
                <th>ValidUntil</th>
                <th>Authority</th>
                <th>IssueDate</th>
                <th>Status</th>
                <th>DocumentFile</th>
                <th>VehicleLimit</th>
                <th>Notes</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for concession_manager in concession_managers %}
            <tr>
                <td>{{ concession_manager.id }}</td>
                <td>{{ concession_manager.concessionNumber }}</td>
                <td>{{ concession_manager.type }}</td>
                <td>{{ concession_manager.company }}</td>
                <td>{{ concession_manager.validFrom ? concession_manager.validFrom|date('Y-m-d') : '' }}</td>
                <td>{{ concession_manager.validUntil ? concession_manager.validUntil|date('Y-m-d') : '' }}</td>
                <td>{{ concession_manager.authority }}</td>
                <td>{{ concession_manager.issueDate ? concession_manager.issueDate|date('Y-m-d') : '' }}</td>
                <td>{{ concession_manager.status }}</td>
                <td>{{ concession_manager.documentFile }}</td>
                <td>{{ concession_manager.vehicleLimit }}</td>
                <td>{{ concession_manager.notes }}</td>
                <td>{{ concession_manager.description }}</td>
                <td>{{ concession_manager.createdAt ? concession_manager.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ concession_manager.updatedAt ? concession_manager.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_concession_manager_show', {'id': concession_manager.id}) }}">show</a>
                    <a href="{{ path('app_concession_manager_edit', {'id': concession_manager.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_concession_manager_new') }}">Create new</a>
{% endblock %}
