{% extends 'base.html.twig' %}


{% block body %}
    <h1>License index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ProductName</th>
                <th>LicenseKey</th>
                <th>Version</th>
                <th>ValidUntil</th>
                <th>MaxActivations</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for license in licenses %}
            <tr>
                <td>{{ license.id }}</td>
                <td>{{ license.productName }}</td>
                <td>{{ license.licenseKey }}</td>
                <td>{{ license.version }}</td>
                <td>{{ license.validUntil ? license.validUntil|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ license.maxActivations }}</td>
                <td>{{ license.status }}</td>
                <td>
                    <a href="{{ path('app_license_show', {'id': license.id}) }}">show</a>
                    <a href="{{ path('app_license_edit', {'id': license.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_license_new') }}">Create new</a>
{% endblock %}
