{% extends 'base.html.twig' %}

{% block title %}HouseNumber{% endblock %}

{% block body %}
    <h1>HouseNumber</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ house_number.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ house_number.number }}</td>
            </tr>
            <tr>
                <th>Suffix</th>
                <td>{{ house_number.suffix }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ house_number.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_house_number_index') }}">back to list</a>

    <a href="{{ path('app_house_number_edit', {'id': house_number.id}) }}">edit</a>

    {{ include('house_number/_delete_form.html.twig') }}
{% endblock %}
