{% extends 'base.html.twig' %}

{% block title %}DriverManager{% endblock %}

{% block body %}
    <h1>DriverManager</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ driver_manager.id }}</td>
            </tr>
            <tr>
                <th>LicenceExpires</th>
                <td>{{ driver_manager.licenceExpires ? driver_manager.licenceExpires|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>SpecialDriverInfo</th>
                <td>{{ driver_manager.specialDriverInfo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_driver_manager_index') }}">back to list</a>

    <a href="{{ path('app_driver_manager_edit', {'id': driver_manager.id}) }}">edit</a>

    {{ include('driver_manager/_delete_form.html.twig') }}
{% endblock %}
