{% extends 'base.html.twig' %}

{% block title %}EmployeeAbsence index{% endblock %}

{% block body %}
    <h1>EmployeeAbsence index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartAway</th>
                <th>EndAway</th>
                <th>ReasonAway</th>
                <th>ReportedBy</th>
                <th>ReportMethod</th>
                <th>ReceivedBy</th>
                <th>ReportedAt</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee_absence in employee_absences %}
            <tr>
                <td>{{ employee_absence.id }}</td>
                <td>{{ employee_absence.startAway ? employee_absence.startAway|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ employee_absence.endAway ? employee_absence.endAway|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ employee_absence.reasonAway }}</td>
                <td>{{ employee_absence.reportedBy }}</td>
                <td>{{ employee_absence.reportMethod }}</td>
                <td>{{ employee_absence.receivedBy }}</td>
                <td>{{ employee_absence.reportedAt ? employee_absence.reportedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ employee_absence.createdAt ? employee_absence.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_employee_absence_show', {'id': employee_absence.id}) }}">show</a>
                    <a href="{{ path('app_employee_absence_edit', {'id': employee_absence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_employee_absence_new') }}">Create new</a>
{% endblock %}
