{% extends 'base.html.twig' %}

{% block title %}EmployeeAbsence{% endblock %}

{% block body %}
    <h1>EmployeeAbsence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee_absence.id }}</td>
            </tr>
            <tr>
                <th>StartAway</th>
                <td>{{ employee_absence.startAway ? employee_absence.startAway|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndAway</th>
                <td>{{ employee_absence.endAway ? employee_absence.endAway|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ReasonAway</th>
                <td>{{ employee_absence.reasonAway }}</td>
            </tr>
            <tr>
                <th>ReportedBy</th>
                <td>{{ employee_absence.reportedBy }}</td>
            </tr>
            <tr>
                <th>ReportMethod</th>
                <td>{{ employee_absence.reportMethod }}</td>
            </tr>
            <tr>
                <th>ReceivedBy</th>
                <td>{{ employee_absence.receivedBy }}</td>
            </tr>
            <tr>
                <th>ReportedAt</th>
                <td>{{ employee_absence.reportedAt ? employee_absence.reportedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ employee_absence.createdAt ? employee_absence.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_employee_absence_index') }}">back to list</a>

    <a href="{{ path('app_employee_absence_edit', {'id': employee_absence.id}) }}">edit</a>

    {{ include('employee_absence/_delete_form.html.twig') }}
{% endblock %}
