{% extends 'base.html.twig' %}

{% block title %}SchoolTourStop{% endblock %}

{% block body %}
    <h1>SchoolTourStop</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ school_tour_stop.id }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ school_tour_stop.address }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ school_tour_stop.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ school_tour_stop.longitude }}</td>
            </tr>
            <tr>
                <th>PlannedTime</th>
                <td>{{ school_tour_stop.plannedTime ? school_tour_stop.plannedTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>SortOrder</th>
                <td>{{ school_tour_stop.sortOrder }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ school_tour_stop.notes }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_school_tour_stop_index') }}">back to list</a>

    <a href="{{ path('app_school_tour_stop_edit', {'id': school_tour_stop.id}) }}">edit</a>

    {{ include('school_tour_stop/_delete_form.html.twig') }}
{% endblock %}
