{% extends 'base.html.twig' %}

{% block title %}DevelopersBlog{% endblock %}

{% block body %}
    <h1>DevelopersBlog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ developers_blog.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ developers_blog.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ developers_blog.slug }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ developers_blog.content }}</td>
            </tr>
            <tr>
                <th>Excerpt</th>
                <td>{{ developers_blog.excerpt }}</td>
            </tr>
            <tr>
                <th>FeaturedImageUrl</th>
                <td>{{ developers_blog.featuredImageUrl }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ developers_blog.status }}</td>
            </tr>
            <tr>
                <th>ReadingTime</th>
                <td>{{ developers_blog.readingTime }}</td>
            </tr>
            <tr>
                <th>PublishedAt</th>
                <td>{{ developers_blog.publishedAt ? developers_blog.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ developers_blog.createdAt ? developers_blog.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ developers_blog.updatedAt ? developers_blog.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ developers_blog.tags }}</td>
            </tr>
            <tr>
                <th>BlogPostId</th>
                <td>{{ developers_blog.blogPostId }}</td>
            </tr>
            <tr>
                <th>CommentsAllowed</th>
                <td>{{ developers_blog.commentsAllowed ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CommentsVisibility</th>
                <td>{{ developers_blog.commentsVisibility }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_developers_blog_index') }}">back to list</a>

    <a href="{{ path('app_developers_blog_edit', {'id': developers_blog.id}) }}">edit</a>

    {{ include('developers_blog/_delete_form.html.twig') }}
{% endblock %}
