{% extends 'base.html.twig' %}

{% block title %}Scripting index{% endblock %}

{% block body %}
    <h1>Scripting index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Scriptname</th>
                <th>ScriptDevstart</th>
                <th>ScriptUpdate</th>
                <th>ScriptReadme</th>
                <th>Language</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for scripting in scriptings %}
            <tr>
                <td>{{ scripting.id }}</td>
                <td>{{ scripting.scriptname }}</td>
                <td>{{ scripting.scriptDevstart }}</td>
                <td>{{ scripting.scriptUpdate }}</td>
                <td>{{ scripting.scriptReadme }}</td>
                <td>{{ scripting.language }}</td>
                <td>
                    <a href="{{ path('app_scripting_show', {'id': scripting.id}) }}">show</a>
                    <a href="{{ path('app_scripting_edit', {'id': scripting.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_scripting_new') }}">Create new</a>
{% endblock %}
