{{ form_start(form) }}

<ul class="nav nav-tabs mb-3" id="contactPersonTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab">
            🧍 Allgemein
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab">
            ☎️ Kontakt
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="relation-tab" data-bs-toggle="tab" data-bs-target="#relation" type="button" role="tab">
            🏫 Zugehörigkeit
        </button>
    </li>
</ul>

<div class="tab-content border p-3 bg-light rounded shadow-sm" id="contactPersonTabsContent">
    <div class="tab-pane fade show active" id="general" role="tabpanel">
        <div class="row g-3">
            <div class="col-md-4">{{ form_label(form.salutation) }}{{ form_widget(form.salutation, {'attr': {'class': 'form-control'}}) }}</div>
            <div class="col-md-4">{{ form_label(form.firstName) }}{{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}</div>
            <div class="col-md-4">{{ form_label(form.lastName) }}{{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}</div>
            <div class="col-md-6">{{ form_label(form.role) }}{{ form_widget(form.role, {'attr': {'class': 'form-control'}}) }}</div>
            <div class="col-md-6">{{ form_label(form.contactType) }}{{ form_widget(form.contactType, {'attr': {'class': 'form-select'}}) }}</div>
        </div>
    </div>

    <div class="tab-pane fade" id="contact" role="tabpanel">
        <div class="row g-3">
            <div class="col-md-6">{{ form_label(form.street) }}{{ form_widget(form.street, {'attr': {'class': 'form-control'}}) }}</div>
            <div class="col-md-3">{{ form_label(form.streetNumber) }}{{ form_widget(form.streetNumber, {'attr': {'class': 'form-control'}}) }}</div>
            <div class="col-md-3">{{ form_label(form.zip) }}{{ form_widget(form.zip, {'attr': {'class': 'form-control'}}) }}</div>
            <div class="col-md-6">{{ form_label(form.city) }}{{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}</div>
            <div class="col-md-6">{{ form_label(form.phone) }}{{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}</div>
            <div class="col-md-6">{{ form_label(form.fax) }}{{ form_widget(form.fax, {'attr': {'class': 'form-control'}}) }}</div>
            <div class="col-md-6">{{ form_label(form.email) }}{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}</div>
            <div class="col-md-6">{{ form_label(form.web) }}{{ form_widget(form.web, {'attr': {'class': 'form-control'}}) }}</div>
        </div>
    </div>

    <div class="tab-pane fade" id="relation" role="tabpanel">
        <div class="row g-3">
            <div class="col-md-6">{{ form_label(form.user) }}{{ form_widget(form.user, {'attr': {'class': 'form-select'}}) }}</div>
            <div class="col-md-6">{{ form_label(form.school) }}{{ form_widget(form.school, {'attr': {'class': 'form-select'}}) }}</div>
            <div class="col-md-6">{{ form_label(form.auftraggeber) }}{{ form_widget(form.auftraggeber, {'attr': {'class': 'form-select'}}) }}</div>
            <div class="col-md-6">{{ form_label(form.schoolkid) }}{{ form_widget(form.schoolkid, {'attr': {'class': 'form-select'}}) }}</div>
        </div>
    </div>
</div>

<hr class="my-4">
<div class="d-flex justify-content-end gap-2">
    <button class="btn btn-secondary" type="reset">Zurücksetzen</button>
    <button class="btn btn-primary">{{ button_label|default('💾 Speichern') }}</button>
</div>

{{ form_end(form) }}
