{% extends 'base.html.twig' %}

{% block title %}ContactPerson{% endblock %}

{% block body %}
    <h1>ContactPerson</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact_person.id }}</td>
            </tr>
            <tr>
                <th>Salutation</th>
                <td>{{ contact_person.salutation }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ contact_person.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ contact_person.lastName }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ contact_person.role }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ contact_person.street }}</td>
            </tr>
            <tr>
                <th>StreetNumber</th>
                <td>{{ contact_person.streetNumber }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ contact_person.zip }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ contact_person.city }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ contact_person.phone }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ contact_person.fax }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact_person.email }}</td>
            </tr>
            <tr>
                <th>Web</th>
                <td>{{ contact_person.web }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contact_person_index') }}">back to list</a>

    <a href="{{ path('app_contact_person_edit', {'id': contact_person.id}) }}">edit</a>

    {{ include('contact_person/_delete_form.html.twig') }}
{% endblock %}
