<div class="border-bottom mb-3 pb-2">
    <strong>Chatverlauf mit {{ chat[0].recipient.message.sender.username }}</strong>
</div>

<div class="list-group">
    {% for status in chat %}
        {% set message = status.recipient.message %}
        <div class="list-group-item {% if not status.displayedAt %}bg-light{% endif %}">
            <div class="d-flex justify-content-between">
                <small><strong>{{ message.sender.username }}</strong></small>
                <small>{{ message.createdAt|date('d.m.Y H:i') }}</small>
                <a href="#"
   class="btn btn-outline-primary btn-sm mt-2 open-message-modal"
   data-status-id="{{ status.id }}"
   data-message-id="{{ message.id }}">
    Anzeigen
</a>

            </div>
            <div>{{ message.content|raw }}</div>
            {% if status.displayedAt %}
                <span class="badge bg-success mt-2">Gelesen</span>
            {% else %}
                <span class="badge bg-warning text-dark mt-2">Ungelesen</span>
            {% endif %}
            

        </div>
    {% endfor %}
</div>
