{% extends 'base.html.twig' %}

{% block title %}SystemConfig index{% endblock %}

{% block body %}
    <h1>SystemConfig index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Timezone</th>
                <th>Locale</th>
                <th>DateFormat</th>
                <th>Currency</th>
                <th>SystemName</th>
                <th>SystemLogoUrl</th>
                <th>Enable2FA</th>
                <th>SessionTimeout</th>
                <th>SupportEmail</th>
                <th>MaintenanceMode</th>
                <th>MaintenanceMessage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for system_config in system_configs %}
            <tr>
                <td>{{ system_config.id }}</td>
                <td>{{ system_config.timezone }}</td>
                <td>{{ system_config.locale }}</td>
                <td>{{ system_config.dateFormat }}</td>
                <td>{{ system_config.currency }}</td>
                <td>{{ system_config.systemName }}</td>
                <td>{{ system_config.systemLogoUrl }}</td>
                <td>{{ system_config.enable2FA ? 'Yes' : 'No' }}</td>
                <td>{{ system_config.sessionTimeout }}</td>
                <td>{{ system_config.supportEmail }}</td>
                <td>{{ system_config.maintenanceMode ? 'Yes' : 'No' }}</td>
                <td>{{ system_config.maintenanceMessage }}</td>
                <td>
                    <a href="{{ path('app_system_config_show', {'id': system_config.id}) }}">show</a>
                    <a href="{{ path('app_system_config_edit', {'id': system_config.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_system_config_new') }}">Create new</a>
{% endblock %}
