{% extends 'base.html.twig' %}

{% block title %}EmployeeDocument index{% endblock %}

{% block body %}
    <h1>EmployeeDocument index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DocType</th>
                <th>DocDate</th>
                <th>DocExpires</th>
                <th>DocValidated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee_document in employee_documents %}
            <tr>
                <td>{{ employee_document.id }}</td>
                <td>{{ employee_document.docType }}</td>
                <td>{{ employee_document.docDate ? employee_document.docDate|date('Y-m-d') : '' }}</td>
                <td>{{ employee_document.docExpires ? employee_document.docExpires|date('Y-m-d') : '' }}</td>
                <td>{{ employee_document.docValidated ? employee_document.docValidated|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_employee_document_show', {'id': employee_document.id}) }}">show</a>
                    <a href="{{ path('app_employee_document_edit', {'id': employee_document.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_employee_document_new') }}">Create new</a>
{% endblock %}
