{% extends 'base.html.twig' %}

{% block title %}GpsPosition index{% endblock %}

{% block body %}
    <h1>GpsPosition index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TimestampUtc</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Speed</th>
                <th>Course</th>
                <th>StatusText</th>
                <th>Color</th>
                <th>ClientId</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gps_position in gps_positions %}
            <tr>
                <td>{{ gps_position.id }}</td>
                <td>{{ gps_position.timestampUtc ? gps_position.timestampUtc|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ gps_position.latitude }}</td>
                <td>{{ gps_position.longitude }}</td>
                <td>{{ gps_position.speed }}</td>
                <td>{{ gps_position.course }}</td>
                <td>{{ gps_position.statusText }}</td>
                <td>{{ gps_position.color }}</td>
                <td>{{ gps_position.clientId }}</td>
                <td>{{ gps_position.createdAt ? gps_position.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_gps_position_show', {'id': gps_position.id}) }}">show</a>
                    <a href="{{ path('app_gps_position_edit', {'id': gps_position.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gps_position_new') }}">Create new</a>
{% endblock %}
