{% extends 'base.html.twig' %}

{% block title %}GpsPosition{% endblock %}

{% block body %}
    <h1>GpsPosition</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gps_position.id }}</td>
            </tr>
            <tr>
                <th>TimestampUtc</th>
                <td>{{ gps_position.timestampUtc ? gps_position.timestampUtc|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ gps_position.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ gps_position.longitude }}</td>
            </tr>
            <tr>
                <th>Speed</th>
                <td>{{ gps_position.speed }}</td>
            </tr>
            <tr>
                <th>Course</th>
                <td>{{ gps_position.course }}</td>
            </tr>
            <tr>
                <th>StatusText</th>
                <td>{{ gps_position.statusText }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ gps_position.color }}</td>
            </tr>
            <tr>
                <th>ClientId</th>
                <td>{{ gps_position.clientId }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ gps_position.createdAt ? gps_position.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_gps_position_index') }}">back to list</a>

    <a href="{{ path('app_gps_position_edit', {'id': gps_position.id}) }}">edit</a>

    {{ include('gps_position/_delete_form.html.twig') }}
{% endblock %}
