{% extends 'base.html.twig' %}

{% block title %}EmployeeEvent index{% endblock %}

{% block body %}
    <h1>EmployeeEvent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Title</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Status</th>
                <th>RequestedAt</th>
                <th>DecisionAt</th>
                <th>Comment</th>
                <th>IsFullDay</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee_event in employee_events %}
            <tr>
                <td>{{ employee_event.id }}</td>
                <td>{{ employee_event.type }}</td>
                <td>{{ employee_event.title }}</td>
                <td>{{ employee_event.startDate ? employee_event.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ employee_event.endDate ? employee_event.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ employee_event.status }}</td>
                <td>{{ employee_event.requestedAt ? employee_event.requestedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ employee_event.decisionAt ? employee_event.decisionAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ employee_event.comment }}</td>
                <td>{{ employee_event.isFullDay ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_employee_event_show', {'id': employee_event.id}) }}">show</a>
                    <a href="{{ path('app_employee_event_edit', {'id': employee_event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_employee_event_new') }}">Create new</a>
{% endblock %}
