{% extends 'base.html.twig' %}

{% block title %}EmployeeEvent{% endblock %}

{% block body %}
    <h1>EmployeeEvent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee_event.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ employee_event.type }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ employee_event.title }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ employee_event.startDate ? employee_event.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ employee_event.endDate ? employee_event.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ employee_event.status }}</td>
            </tr>
            <tr>
                <th>RequestedAt</th>
                <td>{{ employee_event.requestedAt ? employee_event.requestedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DecisionAt</th>
                <td>{{ employee_event.decisionAt ? employee_event.decisionAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ employee_event.comment }}</td>
            </tr>
            <tr>
                <th>IsFullDay</th>
                <td>{{ employee_event.isFullDay ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_employee_event_index') }}">back to list</a>

    <a href="{{ path('app_employee_event_edit', {'id': employee_event.id}) }}">edit</a>

    {{ include('employee_event/_delete_form.html.twig') }}
{% endblock %}
