{% extends 'base.html.twig' %}

{% block title %}Attachment{% endblock %}

{% block body %}
    <h1>Attachment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ attachment.id }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ attachment.filename }}</td>
            </tr>
            <tr>
                <th>Filepath</th>
                <td>{{ attachment.filepath }}</td>
            </tr>
            <tr>
                <th>Mimetype</th>
                <td>{{ attachment.mimetype }}</td>
            </tr>
            <tr>
                <th>UploadedAt</th>
                <td>{{ attachment.uploadedAt ? attachment.uploadedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_attachment_index') }}">back to list</a>

    <a href="{{ path('app_attachment_edit', {'id': attachment.id}) }}">edit</a>

    {{ include('attachment/_delete_form.html.twig') }}
{% endblock %}
