{% extends 'base.html.twig' %}


{% block body %}
<h1>Edit ShortcodeButton</h1>

{{ include('shortcode_button/_form.html.twig', {'button_label': 'Update'}) }}

<h3 class="mt-4">🧪 Vorschau</h3>
<div id="shortcode-button-preview" class="border p-3 rounded bg-light mb-3 text-center">
    {{ previewHtml|default('Noch keine Vorschau')|raw }}
</div>

<h4>📋 Copy & Paste Shortcode</h4>
<div class="input-group mb-4">
    <input type="text" class="form-control" id="shortcodeCopy" value='[[shortcode_button tag="{{ shortcode_button.tag }}" id=123]]' readonly>
    <button class="btn btn-outline-secondary" type="button"
            onclick="navigator.clipboard.writeText(document.getElementById('shortcodeCopy').value)">
        📋 Kopieren
    </button>
</div>

<a href="{{ path('app_shortcode_button_index') }}">🔙 Zurück zur Übersicht</a>
{{ include('shortcode_button/_delete_form.html.twig') }}
{% endblock %}
