{% extends 'base.html.twig' %}

{% block title %}GraphicsReference index{% endblock %}

{% block body %}
    <h1>GraphicsReference index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RoomName</th>
                <th>RoomDate</th>
                <th>OriginalGraphicsPath</th>
                <th>OriginalGraphicsMeta</th>
                <th>ReworkGraphicsPatch</th>
                <th>ReworkGraphicsMeta</th>
                <th>ReworkArtis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for graphics_reference in graphics_references %}
            <tr>
                <td>{{ graphics_reference.id }}</td>
                <td>{{ graphics_reference.roomName }}</td>
                <td>{{ graphics_reference.roomDate ? graphics_reference.roomDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ graphics_reference.originalGraphicsPath }}</td>
                <td>{{ graphics_reference.originalGraphicsMeta }}</td>
                <td>{{ graphics_reference.reworkGraphicsPatch }}</td>
                <td>{{ graphics_reference.reworkGraphicsMeta }}</td>
                <td>{{ graphics_reference.reworkArtis }}</td>
                <td>
                    <a href="{{ path('app_graphics_reference_show', {'id': graphics_reference.id}) }}">show</a>
                    <a href="{{ path('app_graphics_reference_edit', {'id': graphics_reference.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_graphics_reference_new') }}">Create new</a>
{% endblock %}
