{% extends 'base.html.twig' %}

{% block title %}GraphicsReference{% endblock %}

{% block body %}
    <h1>GraphicsReference</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ graphics_reference.id }}</td>
            </tr>
            <tr>
                <th>RoomName</th>
                <td>{{ graphics_reference.roomName }}</td>
            </tr>
            <tr>
                <th>RoomDate</th>
                <td>{{ graphics_reference.roomDate ? graphics_reference.roomDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>OriginalGraphicsPath</th>
                <td>{{ graphics_reference.originalGraphicsPath }}</td>
            </tr>
            <tr>
                <th>OriginalGraphicsMeta</th>
                <td>{{ graphics_reference.originalGraphicsMeta }}</td>
            </tr>
            <tr>
                <th>ReworkGraphicsPatch</th>
                <td>{{ graphics_reference.reworkGraphicsPatch }}</td>
            </tr>
            <tr>
                <th>ReworkGraphicsMeta</th>
                <td>{{ graphics_reference.reworkGraphicsMeta }}</td>
            </tr>
            <tr>
                <th>ReworkArtis</th>
                <td>{{ graphics_reference.reworkArtis }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_graphics_reference_index') }}">back to list</a>

    <a href="{{ path('app_graphics_reference_edit', {'id': graphics_reference.id}) }}">edit</a>

    {{ include('graphics_reference/_delete_form.html.twig') }}
{% endblock %}
